/* colors */

:root {
  --color-Galactic-Blue: #755cde;
  --color-sammer-yellow: #f6a560;
  --color-mauvelous: #f39e9e;
  --color-light-red: #eb7565;
  --color-cyan: #61c4b7;
  --color-dark-purple: #552049;
  --color-black: #030303;
  --color-grey: #7a746e;
  --color-light-cream: #fff7f0;
}
